.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-size: 20px;
  opacity: 40%;
}

.w3-container {
  width: 80%;
}

.w3-display-container {
  padding: 20px;
}

.fa {
  opacity: 40%;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.quote {
  align-items: initial;
  font-size:50px;
  line-height:0.6em;
  opacity:0.2
}